body {
    font-family: 'Kanit', sans-serif;
    margin: 30px auto;
    max-width: 1200px;
    padding: 0;
    text-align: center;
    background-color: rgb(230, 230, 230);
    color: rgb(54, 54, 54);
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.head1{
    text-align: left;
}

.head1 h1 a{
    margin: 0;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    color: rgb(54, 54, 54);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(215, 215, 215);
}

.button:hover{
    background-color: rgb(200, 200, 200);
}

.bottombutton{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(54, 54, 54);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(215, 215, 215);
    align-items: center;
}

.bottombutton:hover{
    background-color: rgb(200, 200, 200);
}

a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    margin: 0 15px;
}


#video-container {
    margin-top: 20px;
    max-width: 100%;
    overflow: hidden; /* Ensure the video does not overflow its container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

#project-video {
    width: 100%; /* Make the video width 100% of its container */
}

.column-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.column {
    width: 48%;
    background-color: rgb(214, 214, 214);
    color: rgb(39, 39, 39);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column p , h2{

    text-align: justify;

    margin: 20px;
    margin-top: 15px;
}

.column li{

    text-align: left;

    margin: 10px;
    margin-top: 5px;
}

.paragraph-container {
    margin-top: 40px;
    text-align: left;
}

.paragraph-container h2{
    margin:0;
    margin-top: 20px;
    text-align: left;
}

.paragraph-container p{
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
}

.code-container {
    margin: 10px 0;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
}

.code-content {
    color: aliceblue;
    overflow-x: auto;
    max-height: 0;
    transition: max-height 0.5s;
}


.code-content.active {
    max-height: 100vh; /* Adjust the max height as needed */
}

.code-toggle {
    border: 4px;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    background-color: #4e4e4e;
    color:rgb(233, 233, 233);
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
}

.code-toggle:hover {
    color:rgb(255, 255, 255);
    text-decoration: underline;

}

.gamelink{
    text-align: center;
}

@media (max-width: 1230px) {
    body {
        margin: 30px; /* Remove body margin */
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .gamelink iframe{
       width: 90%;
    }
}

@media (max-width: 550px) {

    .column-container{
        flex-direction: column;
    }
    .column{
        width:100%;
        margin-top: 15px;
    }

    .header-container{
        flex-direction: column;
    }

    .head1{
        text-align: center;
    }

}